<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>List image:</strong>
  <% @listing.list_images.each do |image|  %>
    <%= image_tag image.variant(resize_to_limit: [300,300]), alt: @listing.title %>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<% if @listing.sold %>
  <h3>SOLD OUT</h3>
<% elsif current_user && current_user.id == @listing.user.id %>
  <p> </p>
<% elsif current_user %>
  <%= button_to "Buy this item!", place_order_path %>
<% else %>
  <%= link_to "Log In to buy this item", new_user_session_path %>
<% end %>


<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<p><%= time_ago_in_words(@listing.updated_at) %>ago</p>

<p>
  <%= link_to @listing.user.username, user_path(@listing.user) %>
</p>

<h2><%= pluralize(@listing.comments.count, 'Comment') %></h2>
<% @listing.comments.each do |c|  %>
  <%= c.user.username  %>
  <%= c.comment  %>
  <% if current_user && c.listing.user.id == current_user.id %>
    <%= link_to "Delete this comment", listing_comment_path(@listing, c), data: { confirm: 'Are you sure?' }, method: :delete %>
  <% end %>
<% end %>


<% if user_signed_in? %>
<h2>Add a Comment</h2>
  <%= form_with model: [@listing, @listing.comments.build] do |form| %>
    <div>
      <%= form.text_area :comment, placeholder: "Write a comment" %>
    </div>

    <div>
      <%= form.submit "SEND" %>
    </div>
  <% end %>
<% else %>
  <h2>Add a Comment</h2>
  <%= link_to "Log In to Comment", new_user_session_path %>
<% end %>

<% if current_user && current_user.id == @listing.user.id %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', listings_path %>
