<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">

          <%# image %>
          <div class="field">
            <%= form.label :image, class: "label"  %>
            <div class="file is-normal">
              <input class="file-input" type="file">
                <span class="file-cta">
                  <span class="file-icon icon is-large">
                    <i class="fas fa-camera"></i>
                  </span>
                  <span >
                    <%= form.file_field :profile_image, accept: "image/png,image/jpg,image/jpeg", class: "file-label" %>
                  </span>
                </span>
            </div>
          </div>

          <div class="field">
            <%= form.label :username, class: "label" %>
            <%= form.text_field :username, class: "input" %>
          </div>

          <div class="field">
            <%= form.label :email, class: "label" %>
            <%= form.email_field :email, class: "input" %>
          </div>

          <div class="field">
            <%= form.label :profile, class: "label" %>
            <%= form.text_area :profile, class: "textarea" %>
          </div>

          <div class="actions">
            <%= form.submit "Update", class: "button is-success" %>
          </div>
          
        </div>
      </div>
    </div>
  </section>
<% end %>




