<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Items you have bought
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow" >
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Price</th>
            <th>Seller</th>
          </tr>
        </thead>
        <tbody>
          <% @bought_items.each do |item| %>
            <tr>
              <td class= "image is-96x96 is-1by1">
                <% if item.listing.list_images.attached? %>
                  <%= link_to (image_tag item.listing.list_images[0]), listing_url(item) %>
                <% else %>
                  <%= link_to (image_tag "no-image.png"), listing_url(item) %>
                <% end %>
              </td>
              <td><%= item.listing.title %></td>
              <td><%= number_to_currency(item.listing.price) %></td>
              <td><%= link_to item.seller.username, user_path(item) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>