<h2>Order confirmation</h2>


<% @listing.list_images.each do |image|  %>
  <%= image_tag image.variant(resize_to_limit: [150,150]), alt: @listing.title %>
<% end %>

<table >
  <tr>
    <th>Title</th><td><%= @listing.title %></td>
  </tr>
  <tr>
    <th>Price</th><td>$ <%= @listing.price %></td>
  </tr>
  <tr>
    <th>Category</th><td><%= @listing.category.name %></td>
  </tr>
  <tr>
    <th>Item Condition</th><td><%= format_condition(@listing.condition) %></td>
  </tr>
  <tr>
    <th>Seller</th><td><%= @listing.user.username %></td>
  </tr>
</table>
<br><br>

<%= button_to "Purchase Now", listing_order_success_path %>
<br>
<%= link_to "Cancel", listing_path(@listing) %>