<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style= "font-family: Arial Black;">
        Order confirmation
      </h1>
    </div>
  </div>
</section>

<section class="section">
  
    <div class="columns is-vcentered">
      <%# image %>
      <div class="column">
        <% if @listing.list_images.attached? %>
          <% @listing.list_images.each do |image|  %>
          <figure class="image is-1by1">
            <%= image_tag image, alt: @listing.title %>
          </figure>
          <% end %>
        <% else %>
          <%= image_tag "no-image.png", alt: @listing.title %>
        <% end %>
      </div>

      <div class="column">
        <div class="table-container">
          <table class="table is-bordered is-striped is-narrow" >
            <tr>
              <th>Title</th><td><%= @listing.title %></td>
            </tr>
            <tr>
              <th>Price</th><td>$ <%= @listing.price %></td>
            </tr>
            <tr>
              <th>Category</th><td><%= @listing.category.name %></td>
            </tr>
            <tr>
              <th>Item Condition</th><td><%= format_condition(@listing.condition) %></td>
            </tr>
            <tr>
              <th>Seller</th><td><%= @listing.user.username %></td>
            </tr>
          </table>
        </div>
        <div class="field is-grouped">
        <p class="control">
          <%= button_to "Purchase", listing_order_success_path, class: "button is-info" %>
        </p>
        <p class="control">
          <%= link_to "Cancel", listing_path(@listing), class: "button is-light" %>
        </p>
      </div>
    </div>

</section>