<section class="hero">
  <div class="container has-text-centered">
    <div class="hero-body">
      <h1 class="title" style= "font-family: Arial Black;">
        Items you have sold
      </h1>
    </div>
    <div class="column">
      <div class="table-container">
        <table class="table is-fullwidth is-bordered is-striped is-narrow">
          <thead class="title is-6">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Price</th>
              <th>Buyer</th>
            </tr>
          </thead>
          <tbody>
            <% @sold_items.each do |item| %>
              <tr>
                <td class= "image is-128x128 is-1by1">
                  <% if item.listing.list_images.attached? %>
                    <%= link_to (image_tag item.listing.list_images[0]), listing_path(item.listing) %>
                  <% else %>
                    <%= link_to (image_tag "no-image.png"), listing_path(item.listing) %>
                  <% end %>
                </td>
                <td class="subtitle is-6"><%= item.listing.title %></td>
                <td class="subtitle is-6"><%= number_to_currency(item.listing.price) %></td>
                <td class="subtitle is-6"><%= link_to item.buyer.username, user_path(item) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>